{% extends "layout.html" %}

{% block body %}
    <h3>Hakkımızda</h3>
    <hr />
    <p>
    Herkese merhaba. Ben Davut ERYILMAZ. Kocaeli Üniversitesi Bilgisayar Mühendisliği mezunuyum. 
    Öğrenim hayatım boyunca birçok programlama dili ve araçla tanıştım.
    PYTHON(Django ve Flask frameworkleri), PHP, HTML, CSS, JAVA, C#, MYSQL, SQL, Raspberry pi, Arduino.
    Web uygulamaları geliştirmeyi seviyorum, mesleğimi icre ederken insanlara fayda sağlayacak projelerde yer almak istiyorm.
    </p>
    <hr />
{% endblock body %}